html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.prompt-background {
    background-color: grey;
    height: 60%;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}

.generate-button {
    height: 15%;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 5%;
}

.prompt-headline {
    margin-bottom: 0px;
    margin-top: 50px;
}